<!--
  Generated template for the RaumPlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Raum Plan: {{ eRaum.bezeichnung }} [{{ eRaum.nummer }}]</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id='calendar'></div>

</ion-content>
