<!--
  Generated template for the MitarbeiterVwPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mitarbeiterverwaltung</ion-title>
    <ion-buttons end>
      <button (click)="addMitarbeiter()" ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list-header>
    Mitarbeiter
  </ion-list-header>
  <ion-list>
    <button ion-item (click)="openDetail(m.id)" *ngFor="let m of allMitarbeiter">
      {{ m.nachname }}, {{ m.vorname }} ({{ m.username }})
    </button>
  </ion-list>
</ion-content>
