<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Hauptmenü</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item menuClose (click)="openPage('DashboardPage')">
        Termin vereinbaren
      </button>
      <button ion-item menuClose (click)="openPage('PatSuchePage')">
        Patient suchen
      </button>
      <button ion-item menuClose (click)="openPage('OptionsPage')">
        Optionen
      </button>
      <button ion-item menuClose (click)="logOff()">
        Abmelden
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
