<!--
  Generated template for the PatSucheResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Patientensuche: {{ currentFilter }}</ion-title>

    <ion-buttons end>
      <button (click)="addPatient()" ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list-header>
    Suchergebnisse:
  </ion-list-header>
  <ion-list>
    <button ion-item (click)="openDetail(p)" *ngFor="let p of queriedPatienten">
      {{ p }}
    </button>
  </ion-list>
</ion-content>
