<!--
  Generated template for the OptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Optionen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

    <ion-row padding>
      <ion-col text-center>
        <button ion-button block color="primary" (click)="openMitarbeiterVerwaltung()">
          Mitarbeiterverwaltung
        </button>
      </ion-col>
    </ion-row>

    <ion-row padding>
      <ion-col text-center>
        <button ion-button block color="primary" (click)="openRaumVerwaltung()">
          Raumverwaltung
        </button>
      </ion-col>
    </ion-row>

    </ion-card>

</ion-content>
