<!--
  Generated template for the CreateBelegungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Neue Belegung für Raum: {{ roomName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <form [formGroup]="belegungForm">

      <ion-item>
        <ion-label floating>Datum</ion-label>
        <ion-datetime displayFormat="DD.MM.YYYY" [formControl]="belegungForm.controls['datum']"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Startzeit</ion-label>
        <ion-datetime displayFormat="HH:mm" [formControl]="belegungForm.controls['sollUhrzeitVon']"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Endzeit</ion-label>
        <ion-datetime displayFormat="HH:mm" [formControl]="belegungForm.controls['sollUhrzeitBis']"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Patient</ion-label>
        <ion-input [formControl]="belegungForm.controls['pat']"
                   type="text" disabled="true"></ion-input>
        <button ion-button large color="primary" (click)="searchPat()" item-start>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-item>

      <ion-row padding>
        <ion-col text-center>
          <button ion-button block color="primary" (click)="createBelegung()" [disabled]="!belegungForm.valid">
            Anlegen
          </button>
        </ion-col>
      </ion-row>

    </form>
  </ion-card>
</ion-content>
