<!--
  Generated template for the MitarbeiterDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mitarbeiter: {{ mitData.nachname }}, {{ mitData.vorname }} ({{ mitData.username }})</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <form [formGroup]="mitForm">

      <!--
      <ion-item>
        <ion-label floating>ID</ion-label>
        <ion-input [formControl]="mitForm.controls['id']" disabled="true"
                   type="text"></ion-input>
      </ion-item>
      -->
      <ion-item>
        <ion-label floating>Nachname</ion-label>
        <ion-input [formControl]="mitForm.controls['nachname']"
                   type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Vorname</ion-label>
        <ion-input [formControl]="mitForm.controls['vorname']"
                   type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Benutzername</ion-label>
        <ion-input [formControl]="mitForm.controls['username']"
                   type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Passwort</ion-label>
        <ion-input [formControl]="mitForm.controls['password']"
                   type="password"></ion-input>
      </ion-item>

      <ion-row padding>
        <ion-col text-center>
          <button ion-button block color="primary" (click)="saveMit()" [disabled]="!mitForm.valid">
            Speichern
          </button>
        </ion-col>
      </ion-row>

      <ion-row padding>
        <ion-col text-center>
          <button ion-button block color="danger" (click)="deleteMit()">
            Löschen
          </button>
        </ion-col>
      </ion-row>

    </form>
  </ion-card>
</ion-content>
