<!--
  Generated template for the RaumVwPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Raumverwaltung</ion-title>
    <ion-buttons end>
      <button (click)="addRaum()" ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list-header>
    Räume
  </ion-list-header>
  <ion-list>
    <button ion-item (click)="openDetail(r.id)" *ngFor="let r of allRooms">
      {{ r.bezeichnung }} [{{ r.nummer }}]
    </button>
  </ion-list>
</ion-content>
